html {
    scroll-behavior: smooth;
}

.bannerlink {
    color: white;
}

.bannerlink:hover {
    color: paleturquoise
} 

.and li:not(:first-child)::before  {
    content: "and\00a0";
    background: lightgray;
    border-radius: 1ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
}
.and li:first-child::before  {
    content: "with";
    background: lightgray;
    border-radius: 1ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
}

.or li:not(:first-child)::before  {
    content: "\00a0\00a0\00a0\00a0\00a0or\00a0\00a0\00a0\00a0\00a0";
    background: lightgray;
    border-radius: 1ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
}
.or li:first-child::before  {
    content: "without";
    background: lightgray;
    border-radius: 1ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
}

input {
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

input:read-only {
    background-color: lightgray;
}

input.small {
    padding: 2px 4px;
}

input[type="checkbox"] {
    width: auto;
    box-sizing: unset !important;
}

.font-tan {
    color: #ece4d8; 
}

.merlot {
    background-color: #7c334f; 
    color: #ece4d8; 
}

.header-ribbon {
    width: calc(100% - 64px);
}
@media (max-width:993px) {
    .header-ribbon {
        width: 100%;
    }
    #sidebar {
        animation: animateleft 0.4s;
    }
}

button {
    background-color: #7c334f; 
    color: #ece4d8; 
    border: 1px solid #c7556c; 
    border-radius: 16px; 
    font-size: large; 
    padding: 8px 12px;
}

button.small {
    font-size:small; 
    padding: 2px 4px;
    margin-left: 1em;
    margin-right: 1em;
}

#sidebar {
    margin: 0;
    padding: 0;
    z-index: 3; 
    width: 320px; 
    background-color: rgb(236, 228, 216);
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 128px;
}

@media (max-width:1200px) {
    #sidebar {
        display: none !important;
    }
}

#sidebar a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: rgb(84, 73, 67);
}
#sidebar a:hover {
    background-color: rgb(220, 206, 185);
}

#sidebar h1 {
    padding: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 2.0em;
}

#sidebar span {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
}

#sidebar div a {
    padding: 8px 16px 8px 48px;
}