<header class="w3-top w3-hide-large">
    <span class="ribbon-outer">
        <span class="ribbon-inner" style="text-align: center;">
        <h1 style="padding: 12px 0px; margin: 0 0;"><a href="javascript:void(0)" class="w3-button" style="float: left; padding: 0 8px;" onclick="sidebar_open()">|||</a> {%if page.title%}{{ page.title }}{%else%}{{site.title | default: site.github.repository_name }}{%endif%}</h1>
        </span>
        <span class="left-tail"></span>
        <span class="right-tail"></span>
    </span>
</header>
<div class="w3-hide-large" style="margin-top:83px"></div>